---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: kubernetes
kubernetesVersion: 1.25.4
controlPlaneEndpoint: "{{ ansible_hostname }}:6443"

networking:
  dnsDomain: cluster.local
  serviceSubnet: "10.100.0.0/16"

controllerManager:
  extraArgs:
    bind-address: "0.0.0.0"  # Required by Prometheus (kube-controller-manager)

etcd:
  local:
    extraArgs:
      listen-metrics-urls: "http://0.0.0.0:2381"  # Required by Prometheus (kube-etcd)

scheduler:
  extraArgs:
    bind-address: "0.0.0.0"  # Required by Prometheus (kube-scheduler)

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
metricsBindAddress: "0.0.0.0:10249"  # Required by Prometheus (kube-proxy)
